/* a { cursor: pointer }

.app-container {
    min-height: 200px;
    overflow: hidden;
}

.btn-delete-user {
    width: 40px;
    text-align: center;
    box-sizing: content-box;
} */

.card{
    /* padding-top: 40px; */
    margin-top: 25px;
    margin-left: 400px;
    margin-right: 400px;

}